[[headers]]
  for = "*.js" # js files should be set this way
  [headers.values]
    Cache-Control = "public, max-age=604800"
[[headers]]
  for = "*.css"
  [headers.values]
    Cache-Control = "public, max-age=604800"
[[headers]]
  for = "*.webp"
  [headers.values]
    Cache-Control = "public, max-age=604800"