
.icon-home:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-location-1:before { content: '\e805'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
